/* Center container */
.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  color: white;
}

/* Form box */
.auth form{
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 15px;
  backdrop-filter: blur(5px);
  height: 300px;
}

/* Heading */
.auth h2{
  margin-bottom: 20px;
  font-size: 30px;
  color: aliceblue;
}

/* Inputs */
.auth input{
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  height: 40px;
  width: 300px;
  color: black;
}

/* Button */
.auth button{
  padding: 10px;
  border: none;
  background: #4fd1c5;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 90px;
  
}

.auth button:hover{
  background: #38b2ac;
}

/* Register text */
.register{
  font-size: 16px;
  text-align: center;
}

.register a{
  color: #4fd1c5;
  text-decoration: none;
}

.register a:hover{
  text-decoration: underline;
}
p{
  color: aliceblue;
}
